body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.hovered-color{
  color: linear-gradient(to right, #AE67FA, #F49867);
}

.hovered-background-color {
  background-color: linear-gradient(to right, #AE67FA, #F49867);
}

.text-color {
  color:'red'; 
}